@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag/Stag-Medium.woff2') format('woff2'),
  url('../fonts/Stag/Stag-Medium.woff') format('woff'),
  url('../fonts/Stag/Stag-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag/Stag-Semibold.woff2') format('woff2'),
  url('../fonts/Stag/Stag-Semibold.woff') format('woff'),
  url('../fonts/Stag/Stag-Semibold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag/Stag-Book.woff2') format('woff2'),
  url('../fonts/Stag/Stag-Book.woff') format('woff'),
  url('../fonts/Stag/Stag-Book.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stag';
  src: url('../fonts/Stag/Stag-Bookitalic.woff2') format('woff2'),
  url('../fonts/Stag/Stag-Bookitalic.woff') format('woff'),
  url('../fonts/Stag/Stag-Bookitalic.ttf')  format('truetype');
  font-weight: bold;
  font-style: italic;
}
