* {
  -webkit-tap-highlight-bg-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .05);
}

::selection {
  background: rgba(0, 0, 0, .05);
  color: $primary-color;
}

html {
  font: normal 24px/1.5 'Stag', Arial, Helvetica, Verdana;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  min-width: 320px;
  font-size: 17px;
  font-weight: normal;
  color: #454545;

  padding-bottom: 250px;
}

button,
a {
  outline: none !important;
}